@model WafaTailor.Models.Home

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page content -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-body " id="bar-parent2">
                            <div class="page-title-breadcrumb">
                                <div class="pull-left">
                                    <div class="page-title">Dashboard</div>
                                </div>
                            </div>
                        </div>
                        <!-- start widget -->
                        <div class="state-overview">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="info-box bg-b-green">
                                        <span class="info-box-icon push-bottom"><i data-feather="users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Shop</span>
                                            <span class="info-box-number">450</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 45%"></div>
                                            </div>
                                            <span class="progress-description">
                                                45% Increase in 28 Days
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="info-box bg-b-yellow">
                                        <span class="info-box-icon push-bottom"><i data-feather="user"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">New Meterial</span>
                                            <span class="info-box-number">155</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 40%"></div>
                                            </div>
                                            <span class="progress-description">
                                                40% Increase in 28 Days
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="info-box bg-b-blue">
                                        <span class="info-box-icon push-bottom"><i class='fas fa-user'></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Employee</span>
                                            <span class="info-box-number">52</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 85%"></div>
                                            </div>
                                            <span class="progress-description">
                                                85% Increase in 28 Days
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="info-box bg-b-pink">
                                        <span class="info-box-icon push-bottom"><i class='fas fa-user'></i>
                                        </span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Customer</span>
                                            <span class="info-box-number">13,921</span><span>$</span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 50%"></div>
                                            </div>
                                            <span class="progress-description">
                                                50% Increase in 28 Days
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- end widget -->
                        <!-- chart start -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card card-box">
                                    <div class="card-head">
                                        <header>Shop Survey</header>
                                    </div>
                                    <div class="card-body">
                                        <div class="recent-report__chart">
                                            <div id="chart1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card card-box">
                                    <div class="card-head">
                                        <header>Material Survey</header>
                                    </div>
                                    <div class="card-body">
                                        <div class="recent-report__chart">
                                            <div id="chart2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Chart end -->
                    </div>
                </div>
                </div>