@model WafaTailor.Models.Home

@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="" />
    <title>Wafa Tailor</title>
    <!-- bootstrap -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="~/assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/pages/login.css">
   </head>

<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Assets/Images/signin.jpg" alt="sing up image"></figure>
                        @*<a href="/Home/Sign_up" class="signup-image-link">Create an account</a>*@
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>

                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @Id = "form", @enctype = "multipart/Form-data" }))
                        {
                            <div class="form-group">
                                <div class="">
                                    @Html.TextBoxFor(M => M.LoginId, new { @class = "form-control input-height", @placeholder = "User Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    @Html.PasswordFor(M => M.Password, new { @class = "form-control input-height", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term">
                                    <span><span></span></span>Remember
                                    me
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <button class="btn btn-round btn-primary" name="btnlogin">Login</button>
                            </div>
                        }
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center fa fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- start js include path -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- end js include path -->
</body>
</html>