@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wafa Tailor || Maintenance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/main-assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/main-assets/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/main-assets/font/flaticon.css">
    <!-- Custom Animation CSS -->
    <link rel="stylesheet" href="~/main-assets/css/fxt-animation.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/main-assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Main Body Area Start Here -->
        <div class="fxt-template has-animation">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 d-lg-block">
                        <div class="fxt-banner">
                            <div class="translate-left-100 transition-150 transition-delay-1500">
                                <img src="~/main-assets/media/figure/maintenance-img.png" class="banner-img" alt="Banner" style="height: 450px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="fxt-main-content">
                            <div class="translate-bottom-100 transition-100 transition-delay-2200">
                                <div class="fxt-logo">
                                    <h1 class="fxt-main-title text-primary font-bold">Wafa Tailor</h1>
                                    @*<img src="~/assets/img/logo-dark.png" style="width:30%" class="img-fluid" />*@
                                </div>
                            </div>
                            <div class="translate-bottom-100 transition-100 transition-delay-2400">
                                <h1 class="fxt-main-title">We are sorry! <span style='font-size:43px;'>&#128546;</span></h1>
                                <h5>The page is down for maintenance.</h5>
                                <h5>We are working to get it back up and running as soon as possible. Please check back !</h5>
                            </div>
                            <div class="translate-bottom-100 transition-100 transition-delay-2800">
                                <a href="/Home/Login" class="button"><i class="fa fa-arrow-left"></i> Back To Home</a>
                            </div>
                            <div class="translate-bottom-100 transition-100 transition-delay-3500 mt-4">
                                <div class="fxt-copyright">
                                    Copyright &copy; 2022 to Wafa Tailor. All Rights Reserved || Developed By <a href="https://afluex.com/" target="_blank">Afluex Multiservices LLP.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Body Area End Here -->
        </div>
    </div>
    <script src="~/main-assets/js/jquery-3.5.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/main-assets/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/main-assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Custom Js -->
    <script src="~/main-assets/js/main.js"></script> 
</body>
</html>
