
@{
    ViewBag.Title = "CustomerConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
    <!-- start page content -->
    <div class="page-content-wrapper mt-5">
        <div class="page-content">
            <div class="row">
                @*<div class="col-md-3"></div>*@
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 offset-md-3">
                    <div class="white-box border-gray mt-5 pb-4">
                        <div class="user-bg">
                            <div class="overlay-box">
                                <div class="user-content">
                                    <h2 class="text-uppercase font-600 text-white">Congratulations !!</h2>
                                    <a href="javascript:void(0)"><img alt="img" class="thumb-lg img-circle" style="width:25%;" src="~/Assets/Images/user.png"></a>
                                    <h5 class="text-white pt-2">Customer details has been saved successfully !</h5>
                                </div>
                            </div>
                        </div>
                        <div class="user-btm-box">
                            <div class="col-md-12  m-b-0 text-center">
                                <div class="stat-item">
                                    <p>User Name- ABCD, <br /> User Id- 1234567890 &  Password- ABCD1234</p>
                                    <a href="/Employee/EmployeeRegistration" class="btn btn-circle btn-primary m-b-10">
                                       <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </div>
                            </div>
                        </div>
=======
<style>
    .user-account h1 {
        color: #2b2b2b;
        font-weight: 300;
        margin: 30px 0 20px;
    }

    .registration-block {
        background-color: rgba(256, 256, 256, 0.8);
        padding: 15px 40px;
    }

    h2.big-green {
        font-size: 35px;
        color: #3272d8;
        /*color: #77b43f;*/
        font-style: italic;
        /* text-transform: uppercase; */
        text-align: center;
        margin-bottom: 15px;
    }

    .wrapper-thanks h3, .wrapper-thanks h4, .wrapper-thanks h2 {
        margin-bottom: 15px;
    }

    .account-info.clearfix {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    .account-info .list-inline {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        .account-info .list-inline li {
            display: inline-block;
        }

    span.border-box {
        border: 2px solid #77b43f;
        padding: 7px 5px;
        color: #4a9604;
        background: #f9f9f9;
    }

    .wrapper-thanks {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .animated-gif {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        /* padding-right: 102px; */
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        line-height: 92px;
        border: 0px solid green;
    }
</style>
<style type="text/css">
    @@media (max-width:560px) {

        .account-info .list-inline li {
            display: inline-block;
            margin-top: 18px;
        }
    }
</style>
 <!-- start page content -->
<div class="page-content-wrapper mt-5">
    <div class="page-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="~/Assets/Images/trophy-1.gif" style="width:100%" />
                        <h2 class="text-uppercase font-600">Congratulations !!</h2>
                       <h4 class="font-600">Customer Save Successfully.</h4>
                       @*<p>Your UserId- 1234567890 &  Password- ABCD1234</p>*@
                        <div class="account-info clearfix">
                            <div class="clearfix text-left">
                                <div class="col-md-12 account-info-text text-center">
                                    <ul class="list-inline">
                                        <li><span class="border-box">Name: @Session["Name"]</span></li>
                                        <li><span class="border-box">Login ID: @Session["LoginId"]</span></li>
                                        <li><span class="border-box">Password: @Session["Password"]</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <span class="pull-center">
                            <a href="/Customer/CustomerRegistration" class="btn btn-primary btn-sm" title="Back">Back</a>
                        </span>
>>>>>>> 2fab24d57d716c132feee4c8882cdfecfacca47e
                    </div>
                </div>
            </div>

            @*<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card mt-5 pb-4">
                <div class="text-center">
                    <h2 class="text-uppercase font-600">Congratulations !!</h2>
                   <img src="~/Assets/Images/tick.gif" style="width:70%" />
                    <img src="~/Assets/Images/user.png" class="pb-3" style="width:25%"/>
                   <h4 class="font-600">Customer Save Successfully !</h4>
                   <p>User Name- ABCD, <br/> User Id- 1234567890 &  Password- ABCD1234</p>
                    <a href="/Admin/AdminDashBoard" class="btn btn-circle btn-primary m-b-10">
                       Go To Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>*@
        </div>
    </div>





