
@{
    ViewBag.Title = "CustomerConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- start page content -->
    <div class="page-content-wrapper mt-5">
        <div class="page-content">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card mt-5 pb-4">
                        <div class="text-center">
                            <h2 class="text-uppercase font-600">Congratulations !!</h2>
                           @* <img src="~/Assets/Images/tick.gif" style="width:70%" />*@
                            <img src="~/Assets/Images/user.png" class="pb-3" style="width:25%"/>
                           <h4 class="font-600">Customer Save Successfully !</h4>
                           <p>User Name- ABCD, <br/> User Id- 1234567890 &  Password- ABCD1234</p>
                            <a href="/Admin/AdminDashBoard" class="btn btn-circle btn-primary m-b-10">
                               Go To Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





