
@{
    ViewBag.Title = "EmployeeConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "CustomerConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start page content -->
<div class="page-content-wrapper mt-5">
    <div class="page-content">
        <div class="row">
           @* <div class="col-md-3"></div>*@
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5 pb-4">
                    <div class="text-center">
                        <h2 class="text-uppercase font-600">Congratulations !!</h2>
                        <img src="~/Assets/Images/user.png" class="pb-3" style="width:25%" />
                        <h4 class="font-600">Employee details has been saved successfully !</h4>
                        <p>User Name- ABCD, <br /> User Id- 1234567890 &  Password- ABCD1234</p>
                        <a href="/Admin/AdminDashBoard" class="btn btn-circle btn-primary m-b-10">
                            Go To Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="section-body">
    <div class="card">
        <div class="card-header">
            @*<ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Registration Successfull</li>
                </ul>
            <span class="pull-right">
                <a href="/Employee/EmployeeRegistration" class="btn btn-primary btn-sm" title="Back">Back</a>
            </span>
            @*<p style="color: red">
                    @TempData["Shop"]
                </p>
        </div>

        <div class="card-body">
            <div class="wrapper-thanks">
                <div class="animated-gif">
                    <img src="~/Assets/Images/XwHw.gif" alt="" style="width: 100px;" />
                </div>
                <h2 class="big-green">Congratulations !!</h2>
                <div class="clearfix text-center">
                    <h3>Employee Saved Successfully !</h3>
                    @*<div class="account-info clearfix">
                        <div class="clearfix text-left">
                            <div class="col-md-12 account-info-text text-center">
                                <ul class="list-inline">
                                    <li><span class="border-box">Name: @Session["Name"]</span></li>
                                    <li><span class="border-box">Login ID: @Session["LoginId"]</span></li>
                                    <li><span class="border-box">Password:  @Session["Password"]</span></li>
                                </ul>
                            </div>
                        </div>


                </div>
                <div class="clearfix">
                    <h2 class="big-green">Thank You!</h2>
                </div>
            </div>
        </div>
    </div>
</div>*@







