@model WafaTailor.Models.Master

@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Material", "Master", FormMethod.Post, new { @Id = "form", @enctype = "multipart/Form-data" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-body " id="bar-parent2">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>
                                    Material Type
                                    <a href="/Master/MaterialList" class="btn btn-primary pull-right">Back to List</a>
                                </h4>
                                @*<span class="text-danger">
                                    @TempData["Material"]
                                </span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label">Material Name<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.MaterialName, new { @class = "form-control", @Placeholder = "Material Name", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label">Material Type<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.MaterialType, new { @class = "form-control", @Placeholder = "Material Type", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-5">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="submit" class="btn btn-primary" name="btnsave" value="Save" onclick="return ValidateMaterial()">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<script>
    function ValidateMaterial()
    {
        $("#divload").css({ 'display': '' })
        $(".errortext").removeClass("errortext");

        if ($("#Material").val() == "") {
            $("#Material").addClass('errortext');
            $("#Material").focus();
            return false;
        }

        if ($("#MaterialName").val() == "") {
            $("#MaterialName").addClass('errortext');
            $("#MaterialName").focus();
            return false;
        }
        if ($("#MaterialType").val() == "") {
            $("#MaterialType").addClass('errortext');
            $("#MaterialType").focus();
            return false;
        }
    }
</script>






