@model WafaTailor.Models.Master

@{
    ViewBag.Title = "ShopMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ShopMaster", "Master", FormMethod.Post, new { @Id = "form", @enctype = "multipart/Form-data" }))
{


    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                        <div class="page-title">Shop Master</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                               href="/Home/Index">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            Master &nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Shop Master</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Shop Master</header>
                            @*<a href="/Master/ShopMasterList" class="btn btn-primary pull-right">Back to List</a>*@
                            
                        </div>
                        <div class="card-body " id="bar-parent">
                            <form>
                                <div class="form-group">
                                    <label for="simpleFormEmail">Shop <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.ShopName, new { @class = "form-control", @placeholder = "Shop Name" })
                                </div>
                                <div class="form-group">
                                    <label for="simpleFormPassword">Address <span style="color:red">*</span></label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = " Shop Address", })
                                </div>
                                <input type="submit" class="btn btn-primary" name="Save" value="Submit" onclick="return ValidateShop()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
       
            }
            <script>
                function ValidateShop() {
                    $("#divload").css({ 'display': '' })
                    $(".errortext").removeClass("errortext");

                    if ($("#ShopName").val() == "") {
                        $("#ShopName").addClass('errortext');
                        $("#ShopName").focus();
                        return false;
                    }

                    if ($("#Address").val() == "") {
                        $("#Address").addClass('errortext');
                        $("#Address").focus();
                        return false;
                    }
                }
            </script>




