@model WafaTailor.Models.Master

@{
    ViewBag.Title = "ShopMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ShopMaster", "Master", FormMethod.Post, new { @Id = "form", @enctype = "multipart/Form-data" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-body " id="bar-parent2">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>
                                    Shop Master
                                    <a href="/Master/ShopMasterList" class="btn btn-primary pull-right">Back to List</a>
                                </h4>
                                @*<span class="text-danger">
                                    @TempData["ShopMaster"]
                                </span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label">Shop<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ShopName, new { @class = "form-control", @placeholder = "Shop Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label"> Address<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = " Shop Address", })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-5">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="submit" class="btn btn-primary" name="Save" value="Submit" onclick="return ValidateShop()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function ValidateShop()
    {
        $("#divload").css({ 'display': '' })
        $(".errortext").removeClass("errortext");

        if ($("#ShopName").val() == "") {
            $("#ShopName").addClass('errortext');
            $("#ShopName").focus();
            return false;
        }

        if ($("#Address").val() == "") {
            $("#Address").addClass('errortext');
            $("#Address").focus();
            return false;
        }
    }
</script>




