@model WafaTailor.Models.Master

@{
    ViewBag.Title = "ShopMasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      @using (Html.BeginForm("ShopMasterList", "Master", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
      {


          <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class="pull-left">
                            <div class="page-title">Shop List</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li>
                                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                   href="/Home/Index">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                Master&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">Shop List</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-head">
                                <header>Shop List</header>
                                <div class="tools">
                                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                       style="width: 100%" id="example4">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Shop</th>
                                            <th> Address</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstRegistration != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstRegistration)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.ShopName</td>
                                                        <td>@item.Address</td>
                                                        <td>
                                                            <span class="label label-sm label-danger"> Active </span>
                                                        </td>
                                                        <td>
                                                            <a href="/Master/DeleteShopMaster?ShopId=@item.ShopId" class="tblDelBtn">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    i = i + 1;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <!-- end page container -->   
}

<!-- data tables -->



               